.box1{
    border: 3px ridge;
    margin: 1vw;
    width: 450px;
    padding: 25px;
    margin: 25px;
  }
  
  .box2{
    border: 3px outset;
    margin: 1vw;
    width: 450px;
    padding: 25px;
    margin: 25px;
  }
  
  .box3{
    border: 3px groove;
    margin: 1vw;
    width: 450px;
    padding: 25px;
    margin: 25px;
  }
  
  .box4{
    border: 3px dashed;
    margin: 1vw;
    width: 450px;
    padding: 25px;
    margin: 25px;
  }